@media screen and (max-width: 1400px) {
  .nav-item {
    padding: 0 4px;
  }
  .nav-link {
    font-size: 1.1rem;
  }
  .btn-orange {
    padding: 4px 12px;
    font-size: 1.1rem;
  }
  .logo {
    width: 20%;
  }
  .hero-heading {
    font-size: 4.5rem;
    line-height: 80px;
  }
  .tab {
    padding-left: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .hero-heading {
    font-size: 3.2rem;
    line-height: 60px;
  }
  .tab {
    padding-left: 100px;
  }
  .para {
    font-size: 1rem;
    padding: 12px 0 24px 0;
  }
  .hero-text-21 {
    font-size: 1.3rem;
  }
  .hero-text-orange-21 {
    font-size: 1.5rem;
  }
  .home-hero-img .orange-box {
    width: 315px;
  }
  /* .about .about-img {
    width: 60%;
    margin: auto;
  } */
  /* .about .about-img .orange-box {
    position: absolute;
    top: 40px;
    left: 45px;
    width: 80%;
    text-align: center;
  } */
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 993px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 470px) {
}

@media screen and (max-width: 412px) {
}
